<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="google.oauth.login" version="1">
    <about>
        <name>Google OAuth Login</name>
        <version>1.2</version>
        <target-go-version>15.2.0</target-go-version>
        <description>Allows users to login with Google</description>
        <vendor>
            <name>Srinivas Upadhya</name>
            <url>https://github.com/srinivasupadhya/gocd-oauth-login</url>
        </vendor>
    </about>
</go-plugin>
