<div class="form_item_block">
    <label>Server Base URL:<span class="asterisk">*</span></label>
    <input type="text" ng-model="server_base_url" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[server_base_url].$error.server">{{ GOINPUTNAME[server_base_url].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>OAuth Client ID:<span class="asterisk">*</span></label>
    <input type="text" ng-model="consumer_key" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[consumer_key].$error.server">{{ GOINPUTNAME[consumer_key].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>OAuth Client Secret:<span class="asterisk">*</span></label>
    <input type="text" ng-model="consumer_secret" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[consumer_secret].$error.server">{{ GOINPUTNAME[consumer_secret].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Username:</label>
    <input type="text" ng-model="username" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[username].$error.server">{{ GOINPUTNAME[username].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Password:</label>
    <input type="password" ng-model="password" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[password].$error.server">{{ GOINPUTNAME[password].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>OAuth Token:</label>
    <input type="password" ng-model="oauth_token" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[oauth_token].$error.server">{{ GOINPUTNAME[oauth_token].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>GitHub Authorization Url:</label>
    <input type="text" ng-model="authorize_url" ng-required="true" placeholder="https://github.com/login/oauth/authorize"/>
    <span class="form_error" ng-show="GOINPUTNAME[authorize_url].$error.server">{{ GOINPUTNAME[authorize_url].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>GitHub Access Token Url:</label>
    <input type="text" ng-model="access_token_url" ng-required="true" placeholder="https://github.com/login/oauth/access_token"/>
    <span class="form_error" ng-show="GOINPUTNAME[access_token_url].$error.server">{{ GOINPUTNAME[access_token_url].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>GitHub API Url:</label>
    <input type="text" ng-model="api_url" ng-required="true" placeholder="https://github.com/api/v3"/>
    <span class="form_error" ng-show="GOINPUTNAME[api_url].$error.server">{{ GOINPUTNAME[api_url].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Github Organization Name (requires you to provide a username and either a password or oauth token):</label>
    <input type="text" ng-model="organization_name" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[organization_name].$error.server">{{ GOINPUTNAME[organization_name].$error.server }}</span>
</div>
