<div class="form_item_block">
    <label>Server Base URL:<span class="asterisk">*</span></label>
    <input type="text" ng-model="server_base_url" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[server_base_url].$error.server">{{ GOINPUTNAME[server_base_url].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>OAuth Client ID:<span class="asterisk">*</span></label>
    <input type="text" ng-model="consumer_key" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[consumer_key].$error.server">{{ GOINPUTNAME[consumer_key].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>OAuth Client Secret:<span class="asterisk">*</span></label>
    <input type="text" ng-model="consumer_secret" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[consumer_secret].$error.server">{{ GOINPUTNAME[consumer_secret].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>List of google domains that should be allowed to login</label>
    <input type="text" ng-model="allowed_domains" ng-required="true" placeholder="example.com, example.co.in"/>
    <span class="form_error" ng-show="GOINPUTNAME[allowed_domains].$error.server">{{ GOINPUTNAME[allowed_domains].$error.server }}</span>
</div>
